<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waiting Room</title>
</head>

<body>
    <h1>
        Room ID :
        <span id="roomID"> <%= roomID %> </span>
    </h1>
    <div id="userList">
        <ul></ul>
    </div>
    <button id="StartBtn"><a href="<%=roomID%>/game">ㄱㄱㄱ</a></button>
    <div id="MsgLayer"></div>
    <input placeholder="채팅하세요~">
    <!-- <button id="StartBtn" disabled="disabled" onclick="location.href='<%=roomID%>'">게임시작</button> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/wait_client.js"></script>
</body>

</html>