<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waiting Room</title>
</head>

<body>
    <h1>
        Room ID :
        <span id="roomID"> <%= roomID %> </span>
    </h1>
    <div id="userList">
        <ul></ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/wait_client.js"></script>
</body>

</html>